<header>
    <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-dark bg-dark border-bottom box-shadow mb-3 fixed-top">
        <div class="container-fluid px-0">
            <img src="../../assets/img/logoRGB-01.jpg" style="padding-right: 13px; margin: -3px 0px;">
            <a class="navbar-brand" href="#">Angular Test Site</a>
            <button class="navbar-toggler navbar-right" type="button" data-toggle="collapse" data-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                    aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="navbar-collapse collapse d-sm-inline-flex flex-sm-row-reverse">
                <ul class="navbar-nav mr-auto">
                    <li class="nav-item">
                        <span class="nav-link text-light">
                            <!-- Welcome
                            <a class="text-light" asp-area="">@user</a> -->
                        </span>
                    </li>
                </ul>
                <ul class="navbar-nav flex-grow-1">
                    <!-- <li class="nav-item">
                        <a class="nav-link text-light" asp-area="" asp-controller="Employees" asp-action="Employees">Home</a>
                    </li>
                    <li class="dropdown">
                        <a class="nav-link text-light" data-toggle="dropdown" href="#">Employees</a>
                        <ul class="dropdown-menu">
                            <li><a class="dropdown-item" asp-area="" asp-controller="Employees" asp-action="Employees">Employees</a></li>
                            <li><a class="dropdown-item" asp-area="" asp-controller="Employees" asp-action="AddEmployee">Add Employee</a></li>
                            <li><a class="dropdown-item" asp-area="" asp-controller="EmployeeStatus" asp-action="AllEmployees">Employee Status</a></li>
                        </ul>
                    </li> -->
                </ul>
            </div>
        </div>
    </nav>
</header>
