<header>
  <nav class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top">
    <img src="../../assets/img/logoRGB-01.jpg" style="padding-right: 13px; margin: -3px 0px;">
    <a class="navbar-brand" routerLink="/">Navigation</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo02"
      aria-controls="navbarTogglerDemo02" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContnent">
      <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
        <li class="nav-item">
          <a class="nav-link" [routerLinkActiveOptions]="{ exact: true }" routerLinkActive="active"
            routerLink="/">Buy</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLinkActive="active" routerLink="/rent-property">Rent</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLinkActive="active" routerLink="/add-property">New Listing (Free)</a>
        </li>
      </ul>
      <form class="form-inline my-2 my-lg-0">
        <input class="form-control mr-sm-2" type="search" placeholder="Search">
        <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
      </form>
    </div>
  </nav>
</header>
