<div class="card">
  <div class="card-img-wrapper">
    <img *ngIf="property.Image" class="card-img-top" src="assets/img/{{ property.Image }}.png">
    <img *ngIf="!property.Image" class="card-img-top" src="assets/img/house_default.png">
    <ul class="list-inline text-center member-icons animate">
      <li class="list-inline-item">
        <button class="card-action-button" routerLink="/property-detail/{{property.Id}}"><i class="fa fa-pencil-square-o" aria-hidden="true"></i></button>
      </li>
      <li class="list-inline-item">
        <button class="card-action-button"><i class="far fa-address-book"></i></button>
      </li>
    </ul>
  </div>
  <div class="card-body p-2">
    <h1>{{ property.Name }}</h1>
    <h2>{{ property.Type }}</h2>
    <h3>{{ property.Price }}</h3>
  </div>
</div>

